{% if use_recaptcha %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_public_key }}"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('{{ recaptcha_public_key }}', {action: '{{ app.request.attributes.get('_route') }}'}).then(function (token) {
                $('.recaptcha_token').val(token);
            });
        });
    </script>
{% endif %}
