{% set allow_save = true %}
{% if allow_save_only is defined %}
    {% set allow_save = allow_save_only %}
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Actions</h3>
            </div>
            <div class="card-body">
                <input type="submit" name="enregistrer_quitter" class="btn btn-success" value="{% if is_new %}Créer{% else %}Enregistrer{% endif%} et quitter"/>
                {% if allow_save %}
                    <input type="submit" name="enregistrer" class="btn btn-primary" value="{% if is_new %}Créer{% else %}Enregistrer{% endif%}"/>
                {% endif %}
                <a class="btn btn-danger" href="{{ path(list_route)}}">Annuler et retourner à la liste</a>
            </div>
        </div>
    </div>
</div>
