{% extends "admin/base_body.html.twig" %}



{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{% block h3 %}{% endblock %}</h3>
                </div>

                <div class="box-body">
                    {% block table %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block btnAction %}{% endblock %}        
{% endblock %}

