{% extends "admin/security/base_security.html.twig" %}



{% block form %}
    <p class="login-box-msg">Activation de votre compte</p>
    {% form_theme activationCompteForm 'bootstrap_3_layout.html.twig' %}
    {{ form_start(activationCompteForm) }}

    <div class="form-group has-feedback">
        {{ form_widget(activationCompteForm.email, { 
        'attr': {
            'placeholder': "Email"
        } 
    }) }}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    {{ form_errors(activationCompteForm.email) }}
    
    <div class="form-group has-feedback">
        {{ form_widget(activationCompteForm.code, { 
        'attr': {
            'placeholder': "Code recu par mail"
        } 
    }) }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    {{ form_errors(activationCompteForm.code) }}
    {{ form_errors(activationCompteForm) }}
    
    <div class="row"> 
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Activer le compte</button>
        </div>

    </div>
    {{ form_end(activationCompteForm) }}
    <a href="{{ path('app_ask_new_code') }}">Code non reçu ou code expiré ?</a><br>
    <a href="{{ path('accueilfront')}}">Annuler</a><br>
    
    {% include '_recaptcha.html.twig' with {} only %}
{% endblock %}


