{% extends "admin/security/base_security.html.twig" %}

{% block form %}
    <p class="login-box-msg">Recevoir à nouveau un code d'activation</p>
    {% form_theme ask_new_code_form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(ask_new_code_form) }}

    <div class="form-group has-feedback">
        {{ form_widget(ask_new_code_form.email, { 
        'attr': {
            'placeholder': "Email"
        } 
    }) }}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    {{ form_errors(ask_new_code_form.email) }}
    {{ form_errors(ask_new_code_form) }}




    <div class="row"> 
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Recevoir le code</button>
        </div>

    </div>
    {{ form_end(ask_new_code_form) }}
    <a href="{{ path('accueilfront')}}">Annuler</a><br>

    {% include '_recaptcha.html.twig' with {} only %}
{% endblock %}

