
{% extends "admin/base.html.twig" %}

{% block body %}
<body class="hold-transition login-page" style="height: auto; min-height: 100%;">
    {% block javascripts_head %}
        {{ encore_entry_script_tags('adminhead') }}

    {% endblock %} 
    {% block inbody %}
    <div class="{% block namebox %}login-box{% endblock %}">
        <div class="login-logo">
            <a href="{{ path('accueilfront') }}"><b>Password</b>MANAGER</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            
            {% block form %}
            {% endblock %} 
            
        </div>
        <!-- /.login-box-body -->
    </div>
    {% endblock %}
    <!-- /.login-box -->

    {% block javascripts_body %}
        {{ encore_entry_script_tags('adminbody') }}

    {% endblock %} 
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                 radioClass: 'iradio_square-blue',
                 increaseArea: '20%' /* optional */
            });
        });
    </script>
</body>
 {% endblock %}



