{% extends "admin/security/base_security.html.twig" %}

{% block namebox %}container general-security-box{% endblock %}

{% block form %}
    
    <h3>Compte {{ utilisateur.email }} activé</h3>
    
    <div class="row"> 
        <div class="col-xs-12">
            Vous pouvez maintenant vous connecter à votre compte<br />
            <br />
            <a class="btn btn-primary" href="{{ path('app_login')}}">Se connecter</a><br />
            <br />
        </div>
    </div>
   
    <a href="{{ path('accueilfront')}}">Annuler</a>
{% endblock %}


