{% extends "admin/security/base_security.html.twig" %}

{% block form %}
    <p class="login-box-msg">Connectez-vous pour commencer</p>
    <form method="post">
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
               >
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email" name="email" >
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Mot de passe" name="password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row"> 
            <div class="col-xs-7">
                <!--div class="checkbox icheck">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div-->
            </div>
            <!-- /.col -->
            <div class="col-xs-5">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Se connecter</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    <a href="{{ path('mot_de_passe_oublie_mail') }}">Mot de passe oublié</a><br />
    <a href="{{ path('app_register') }}" class="text-center">Créer un nouveau compte</a><br />
    <a href="{{ path('activation_compte_code') }}" class="text-center">Activer mon compte avec le code reçu par mail</a>
{% endblock %}


