{% extends "admin/security/base_security.html.twig" %}

{% block form %}
    <p class="login-box-msg">Créez un compte pour commencer</p>
    {% form_theme registrationForm 'bootstrap_3_layout.html.twig' %}
    {{ form_start(registrationForm) }}

    <div class="form-group has-feedback">
        {{ form_widget(registrationForm.email.first, { 
        'attr': {
            'placeholder': "Email"
        } 
    }) }}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    {{ form_errors(registrationForm.email.first) }}
    
    <div class="form-group has-feedback">
        {{ form_widget(registrationForm.email.second, { 
        'attr': {
            'placeholder': "Répétez l'email"
        } 
    }) }}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    {{ form_errors(registrationForm.email.second) }}
    
    {% include 'admin/_user_info.html.twig' with {'form': registrationForm} only %}

    <div class="row"> 
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Créer le compte</button>
        </div>

    </div>
    {{ form_end(registrationForm) }}
    <a href="{{ path('app_login')}}">J'ai déjà un compte</a><br />
    <a href="{{ path('accueilfront')}}">Annuler</a>
    
    {% include '_recaptcha.html.twig' with {} only %}
{% endblock %}

