{% extends "admin/security/base_security.html.twig" %}

{% block namebox %}container general-security-box{% endblock %}

{% block form %}
    
    <h3>Compte {{ utilisateur.email }} enregistré</h3>
    
    <div class="row"> 
        <div class="col-xs-12">
            Vous êtes maintenant enregistré sur Password MANAGER<br />
            <br />
            Vous allez recevoir un mail avec un code d'activation<br />
            <br />
            Ce code restera actif <b>{{ temps_actif }}</b>. <br />
            Il deviendra inactif <b>le {{ date_actif }}</b> et vous devrez le générer à nouveau à partir de la section me connecter du site.<br />
            <br />
            Nous faisons cela pour nous assurer que vous avez saisi une adresse mail fonctionnelle et  que vous en êtes bien propriétaire.<br />
            Cette adresse mail vous sera utile pour récupérer l'accès à votre compte si vous perdez votre mot de passe.<br />
            <br />
            <a class="btn btn-primary" href="{{ path('activation_compte_code')}}">J'ai reçu le mail</a><br />
            <br />
        </div>
    </div>
   
    <a href="{{ path('accueilfront')}}">Annuler</a>
{% endblock %}


