<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Password Manager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
        <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
        <meta name="author" content="FREEHTML5.CO" />

        <!-- 
              //////////////////////////////////////////////////////
      
              FREE HTML5 TEMPLATE 
              DESIGNED & DEVELOPED by FREEHTML5.CO
                      
              Website: 		http://freehtml5.co/
              Email: 			info@freehtml5.co
              Twitter: 		http://twitter.com/fh5co
              Facebook: 		https://www.facebook.com/fh5co
      
              //////////////////////////////////////////////////////
        -->

        <!-- Facebook and Twitter integration -->
        <meta property="og:title" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:description" content=""/>
        <meta name="twitter:title" content="" />
        <meta name="twitter:image" content="" />
        <meta name="twitter:url" content="" />
        <meta name="twitter:card" content="" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico">

        {% block stylesheets_head %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('fronthead') }}

            <!-- Renders a link tag (if your module requires any CSS)
            <link rel="stylesheet" href="/build/app.css"> -->

        {% endblock %}

        {% block javascripts_head %}
            {{ encore_entry_script_tags('fronthead') }}
            <script src="modernizr-2.6.2.min.js"></script>
            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %} 



        <!--[if lt IE 9]>
        <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <header role="banner" id="fh5co-header">
            <div class="container">
                <!-- <div class="row"> -->
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <!-- Mobile Toggle Menu Button -->
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                        <a class="navbar-brand" href="/">Password MANAGER</a> 
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
                            <li><a href="#" data-nav-section="groupes"><span>Groupes</span></a></li>
                            <li><a href="#" data-nav-section="motsdepasses"><span>Mots de passes</span></a></li>
                            <li><a href="#" data-nav-section="echanges"><span>Echanges sécurisés</span></a></li>
                            <li><a href="#" data-nav-section="generateur"><span>Générateur de mot de passe</span></a></li>
                            <li><a href="#" data-nav-section="recuperation"><span>Récupération de compte</span></a></li>
                            <li><a href="{{ path('app_register') }}" ><span>Créer un compte</span></a></li>
                            <li><a href="{{ path('app_login') }}" ><span>Se connecter</span></a></li>
                        </ul>
                    </div>
                </nav>
                <!-- </div> -->
            </div>
        </header>

        <div id="slider" data-section="home">
            <div class="owl-carousel owl-carousel-fullwidth">
                <!-- You may change the background color here. -->
                <div class="item" style="background: #3c8dbc;">
                    <div class="container" style="position: relative;">
                        <div class="row">
                            <div class="col-md-7 col-sm-7">
                                <div class="fh5co-owl-text-wrap">
                                    <div class="fh5co-owl-text">
                                        <h1 class="fh5co-lead to-animate">Password Manager</h1>
                                        <h2 class="fh5co-sub-lead to-animate">Gérer facilement vos mots de passe. <br />
                                            100% libre. 100% open source.</h2>
                                            <p class="to-animate-2"><a target="_blank" href="https://gitlab.com/cgrand221/pwdmngr" class="btn btn-primary btn-lg">Code source</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 iphone-image">
                                <div class="iphone to-animate-2"><img src="/front/images/secure.png" alt="Free HTML5 Template by FREEHTML5.co"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- You may change the background color here.  -->
                <div class="item" style="background: #38569f;">
                    <div class="container" style="position: relative;">
                        <div class="row">
                            <div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5">
                                <div class="fh5co-owl-text-wrap">
                                    <div class="fh5co-owl-text">
                                        <h1 class="fh5co-lead to-animate">Sécurité renforcée</h1>
                                        <h2 class="fh5co-sub-lead to-animate">Partagez vos mots de passes avec d'autres personne. Seules celles-ci pourront y acceder. Les autres ne pourront pas (y compris les développeurs)</h3>
                                            <p class="to-animate-2">
                                                Utilisation de l'algorithme Argon2 pour l'authentification et la gestion de la sécurité des groupes<br />
                                                Utlisation de RSA et de AES pour le chiffrement de vos mots de passe                                                
                                            </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 iphone-image">
                                <div class="iphone to-animate-2"><img src="/front/images/cadena.png" alt="Free HTML5 Template by FREEHTML5.co"></div>
                            </div>

                        </div>
                    </div>
                </div>

                

            </div>
        </div>

        <div id="fh5co-about-us" data-section="groupes">
            <div class="container">
                <div class="row row-bottom-padded-lg" id="about-us">
                    <div class="col-md-12 section-heading text-center">
                        <h2 class="to-animate">Groupes</h2>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 to-animate">
                                <h3>Créez des groupes avec lesquels vous souhaitez partager des mots de passe</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 to-animate">
                        <img src="/front/images/groupes.jpg" class="img-responsive img-rounded" alt="Free HTML5 Template">
                    </div>
                    <div class="col-md-4 to-animate">
                        <h5>Les membres du groupe : </h5>
                        <ul>
                            <li>Auront accès à ses mots de passes</li>
                            <li>Ne pourront pas ajouter/supprimer d'autres personnes</li>
                            <li>Pourront consulter les mots de passe créés par d'autres. Ils ne pourront pas les modifier</li>
                            <li>Pourront ajouter/modifier/supprimer des mots de passes sur ce ce groupe.</li>
                        </ul>
                        <h5>La suppression d'un membre d'un groupe va </h5>
                        <ul>
                            <li>Supprimer ce membre</li>
                            <li>Rendre inaccessible les mots de passe du groupe pour ce membre</li>
                            <li>Rendre inaccessible les mots de passe qu'il a créé pour ce groupe aux autres membres du groupe (Il pourra toujours consulter/modifier les mots de passe qu'il a créé pour ce groupe).</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="fh5co-about-us" data-section="motsdepasses">
            <div class="container">
                <div class="row row-bottom-padded-lg" id="about-us"> 
                    <div class="col-md-12 section-heading text-center">
                        <h2 class="to-animate">Mots de passes</h2>
                         <div class="row">
                            <div class="col-md-8 col-md-offset-2 to-animate">
                                <h3>Créez des mots de passes</h3>
                                <h4>Rendez-les consultables aux groupes de votre choix</h4>
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-md-8 to-animate">
                        <img src="/front/images/mots-de-passes.jpg" class="img-responsive img-rounded" alt="Free HTML5 Template">
                    </div>
                    <div class="col-md-4 to-animate">
                        <h5>Les mots de passes : </h5>
                        <ul>
                            <li>Seront accessibles aux autres membres des groupes</li>
                            <li>Ne pourront pas être modifié par les autres membres des groupes</li>                       
                            <li>Peuvent être générés grâce au générateur de mot de passe intégré</li>
                            <li>Peuvent être copiés-collés rapidement avec le bouton copier</li>
                        </ul>
                        
                    </div>
                </div>
                
                
            </div>
        </div>
        <div id="fh5co-our-services" data-section="echanges">
            <div class="container">
                <div class="row row-bottom-padded-sm">
                    <div class="col-md-12 section-heading text-center">
                        <h2 class="to-animate">&Eacute;changes sécurisés</h2>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 to-animate">
                                <h3>Des envois de mails sont effectués à plusieurs étapes</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <div class="icon colored-1"><span><i class="icon-lock"></i></span></div>
                            <h3>A la création de compte</h3>
                            <p>Un code est envoyé sur le mail pour être sûr que ce n'est pas une autre personne qui prétende être propriétaire de ce mail</p>
                        </div>
                        <div class="box to-animate">
                            <div class="icon colored-4"><span><i class="icon-user"></i></span></div>
                            <h3>A la modification du mail</h3>
                            <p>Un code est envoyé sur l'ancien et sur le nouveau mail.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <div class="icon colored-2"><span><i class="icon-edit"></i></span></div>
                            <h3>A la modification de votre mot de passe principale</h3>
                            <p>Un code est envoyé sur le mail pour la même raison</p>
                        </div>
                        <div class="box to-animate">
                            <div class="icon colored-5"><span><i class="icon-link"></i></span></div>
                            <h3>Pas de liens dans les mail</h3>
                            <p>
                                Les liens dans les mails facilitent le hameçonnage
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box to-animate">
                            <div class="icon colored-3"><span><i class="icon-ambulance"></i></span></div>
                            <h3>A la récupération de compte</h3>
                            <p>Un code est envoyé sur le mail pour être sûr que c'est le propriétaire du mail qui est à l'origine de la demande de récupération de compte</p>
                        </div>
                        <div class="box to-animate">
                            <div class="icon colored-6"><span><i class="icon-watch"></i></span></div>
                            <h3>Expiration des mails</h3>
                            <p>Les codes envoyés ne restent actifs que {{ temps_actif }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="fh5co-features" data-section="generateur">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 section-heading text-center">
                        <h2 class="single-animate animate-features-1">Générateur de mot de passe intégré</h2>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 single-animate animate-features-2">
                                <h3>En vous appuyant sur cette outil, plus besoin de se soucier de créer un mot de passe suffisamment complexe à retenir.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-bottom-padded-sm">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                        <div class="fh5co-icon"><i class="icon-equalizer"></i></div>
                        <div class="fh5co-desc">
                            <h3>Complexité paramétrable</h3>
                            <p>Vous pouvez générer vos mot de passes selon différents critères de complexité demandé par le service cible</p>
                        </div>	
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                        <div class="fh5co-icon"><i class="icon-eye"></i></div>
                        <div class="fh5co-desc">
                            <h3>Gestion de la confidentialité</h3>
                            <p>L'affichage de mot de passe n'est jamais effectué a moins que vous le demandiez explicitement</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                        <div class="fh5co-icon"><i class="icon-plus"></i></div>
                        <div class="fh5co-desc">
                            <h3>Enregistrez aussi vos propres mots de passe</h3>
                            <p>Le générateur de mot de passe est optionnel. Vous pouvez enregistrer vos mots de passe existants sans problèmes </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                        <div class="fh5co-icon"><i class="icon-speedometer"></i></div>
                        <div class="fh5co-desc">
                            <h3>Léger et fiable</h3>
                            <p>Utilisation de l'API javascript Window.crypto pour générer des mots de passe de qualité cryptographique</p>
                        </div>	
                    </div>
                    
                    <div class="clearfix visible-sm-block visible-xs-block"></div>
                </div>
                
            </div>
        </div>

        <div id="fh5co-features" data-section="recuperation">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 section-heading text-center">
                        <h2 class="single-animate animate-features-1">Récupération de compte</h2>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 single-animate animate-features-2">
                                <h3>En cas de perte de votre mot de passe principale</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-bottom-padded-sm">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                        <div class="fh5co-icon"><i class="icon-question"></i></div>
                        <div class="fh5co-desc">
                            <h3 class="h2 fh5co-press-title">Demande de récupération<span class="fh5co-border"></span></h3>
                            <p>Demandez l'envoie d'un mail de récupération de compte</p>
                            <p><a href="{{ path('mot_de_passe_oublie_mail') }}" class="btn btn-primary btn-sm">Faire la demande</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                        <div class="fh5co-icon"><i class="icon-edit"></i></div>
                        <div class="fh5co-desc">
                            <h3 class="h2 fh5co-press-title">Renseignez le code verification<span class="fh5co-border"></span></h3>
                            <p>Ce code vous est envoyé par mail</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                        <div class="fh5co-icon"><i class="icon-lock"></i></div>
                        <div class="fh5co-desc">
                            <h3 class="h2 fh5co-press-title">Renseignez un nouveau mot de passe<span class="fh5co-border"></span></h3>
                            <p>Ce mot de passe permettra d'acceder à votre compte à partir de maintenant</p>
                        </div>
                    </div>
               
                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                        <div class="fh5co-icon"><i class="icon-login"></i></div>
                        <div class="fh5co-desc">
                            <h3 class="h2 fh5co-press-title">Connectez-vous avec votre nouveau mot de passe<span class="fh5co-border"></span></h3>
                            <p>Votre compte ne pourra acceder qu'aux groupes et aux mots de passe récupérables</p>
                            <p>Un groupe ou un mot de passe est récupérable lorsque celui-ci a moins été partagé avec quelqu'un d'autre</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                        <div class="fh5co-icon"><i class="icon-recycle"></i></div>
                        <div class="fh5co-desc">
                            <h3 class="h2 fh5co-press-title">Consultez certains groupes et mots de passes<span class="fh5co-border"></span></h3>
                            <p>Les autres membres de vos groupes utilisant Password MANAGER rendent accessibles vos groupes et vos mots de passes</p>
                            <p>Tant que ces membres ne sont pas connectés, ces information sont inaccessibles</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                        <div class="fh5co-icon"><i class="icon-unlink"></i></div>
                        <div class="fh5co-desc">
                            <h3 class="h2 fh5co-press-title">Pertes d'informations<span class="fh5co-border"></span></h3>
                            <p>Les mots de passes et les groupes non partagés sont définitivement perdus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


        <footer id="footer" role="contentinfo">
            <div class="container">
                <div class="row row-bottom-padded-sm">
                    <div class="col-md-12">
                        <p class="copyright text-center">&copy; 2015 Free <a href="index.html">Crew</a>. All Rights Reserved. <br> Free HTML5 Template by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> | Images by <a href="http://pexels.com/" target="_blank">Pexels</a> &amp;  <a href="http://unsplash.com/" target="_blank">Unsplash</a></p>
                    </div>
                </div>
            </div>
        </footer>


        

        {% block stylesheets_body %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('frontbody') }}

            <!-- Renders a link tag (if your module requires any CSS)
            <link rel="stylesheet" href="/build/app.css"> -->

        {% endblock %}

        {% block javascripts_body %}
            {{ encore_entry_script_tags('frontbody') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %} 


    </body>
</html>
