<div class="form-group has-feedback">
    {{ form_widget(form.nom, { 
    'attr': {
        'placeholder': "Nom"
    } 
}) }}
    <span class="glyphicon glyphicon-user form-control-feedback"></span>
</div>
{{ form_errors(form.nom) }}

<div class="form-group has-feedback">
    {{ form_widget(form.prenom, { 
    'attr': {
        'placeholder': "Prénom"
    } 
}) }}
    <span class="glyphicon glyphicon-user form-control-feedback"></span>
</div>
{{ form_errors(form.prenom) }}
<div class="form-group avertissement">
    Important : souvenez-vous bien de votre mot de passe. Sinon en cas de récupération de votre compte, les mots de passes non partagés avec d'autres membres seront définitivement perdus !
</div>
<div class="form-group has-feedback">
    
    {{ form_widget(form.plainPassword.first, { 
    'attr': {
        'placeholder': "Mot de passe"
    } 
}) }}
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
</div>
{{ form_errors(form.plainPassword.first) }}

<div class="form-group has-feedback">
    {{ form_widget(form.plainPassword.second, { 
    'attr': {
        'placeholder': "Répétez le mot de passe"
    } 
}) }}
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
</div>
{{ form_errors(form.plainPassword.second) }}
{{ form_errors(form) }}
