<ol class="breadcrumb">
    {% for menu in filAriane %}
        <li>
            {% if menu.route is defined and menu.route != null %}
                <a href="{{ path(menu.route) }}">
            {% endif %}
            
                    <i class="fa {{ menu.icon }}"></i> {{ menu.libelle }}
                    
                    
            {% if menu.route is defined and menu.route != null %}
                </a>
            {% endif %}
        </li>
        {% endfor %}
</ol>