{% extends "admin/base.html.twig" %}

{% block body %}
    <body class="hold-transition skin-blue-light sidebar-mini">

        {% block javascripts_head %}
            {{ encore_entry_script_tags('adminhead') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %} 

        <div class="wrapper">
            {{ render(controller(
                'App\\Controller\\Admin\\DefaultController::navbar',
                {}
            )) }}

            {{ render(controller(
                'App\\Controller\\Admin\\DefaultController::menu',
                {}
            )) }}

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    {{ render(controller(
                        'App\\Controller\\Admin\\DefaultController::filAriane',
                        {}
                    )) }}
                    <h1>
                        {% block h1 %}Password Manager{% endblock%}
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">
                    {% block content %}
                    {% endblock %}
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->


            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->


        {% block javascripts_body %}
            {{ encore_entry_script_tags('adminbody') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %} 
        <!-- page script -->

    </body>
{% endblock %}
