


<!-- Main Sidebar Container -->
<aside class="main-sidebar">
    

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        

        
        <section class="sidebar">

            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MENU</li>
                    {% for menu in menus %}
                    <li class="{% if menu.submenus|length > 0 %} treeview {% if menu.active %}menu-open{% endif %} {% else %} {% if menu.active %}active{% endif %} {% endif %} ">
                        <a href="{{ menu.submenus|length > 0 or menu.route == null ? '#': path(menu.route) }}">
                            <i class="fa {{ menu.icon }}"></i> <span> {{ menu.libelle }}</span>
                            {% if menu.submenus|length > 0 %}
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            {% endif %}
                        </a>
                        {% if menu.submenus|length > 0 %}
                            <ul class="treeview-menu" style="{% if menu.active %}display: block;{% else %}display: none;{% endif %}">
                                {% for submenu in menu.submenus %}
                                    <li class="{% if submenu.active %}active{% endif %}">
                                        <a href="{{ submenu.route == null  ? '#': path(submenu.route) }}"><i class="fa {{ submenu.icon }}"></i>{{ submenu.libelle }}</a>
                                    </li>
                                        {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
        </section>
       
    </div>
    <!-- /.sidebar -->
</aside>