.general-security-box {
    margin: 7% auto;
}
.subform {
    & > div{
        display: inline-block;
    }
    & > button{
        margin-right: 5%;
    }
}

.content-header > .breadcrumb{
    position: initial; 
    top: initial; 
    right: initial; 
}

table.dataTable{
    tfoot,thead {
        th, td{
            border: none;
        }
    }
}
.avertissement{
    font-size: 0.9em;
}

.groupe-password{
    position: relative; 
    overflow: hidden;
    #password, #info_partagee_infoPartageeClair_password{
        position: absolute; 
        top:-100px; 
        left: 0
    }
}

.tooltip{ // fix tooltip bug opacity
    opacity: 1;
}

#password-generator{
    margin-top: 25px;
}