{% extends "admin/CRUD/index.html.twig" %}


{% block table %}
    <table id="example1" class="table table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Visibilité</th>
                <th>Fonctionnement</th>
                {% if allowEdit %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for groupe in groupes %}
            <tr>
                <td>{{ groupe.id }}</td>
                <td>{{ groupe.nom }}</td>
                <td>
                    {% if (groupe.etat == constant('App\\Entity\\Groupe::ETAT_ACTIF')) %}
                        Tous les membres
                    {% elseif (groupe.etat == constant('App\\Entity\\Groupe::ETAT_INACTIF')) %}
                        Vous et les créateurs de mot de passe du groupe uniquement
                    {% else %}
                        Inconnue
                    {% endif %}
                </td>
                <td>
                    {% set utilisateurGroupe = groupe.utilisateurGroupes[0] %}
                    {% set accessible =  utilisateurGroupe.password != null or utilisateurGroupe.passwordCache != null %}
                    {% if not accessible %}
                        <span data-toggle="tooltip" data-placement="bottom" title="Les mots de passe de ce groupe seront illisibles jusqu'à ce qu'un membre de ce groupe se connecte pour rétablir votre accès. Evitez d'oublier votre mot de passe pour ne plus avoir ce problème" >
                            Inaccessible
                        </span>
                    {% else %}
                        <span data-toggle="tooltip" data-placement="bottom" title="Les mots de passe de ce groupe sont lisibles tant que vous n'oubliez pas votre mot de passe" >
                            Fonctionnel
                        </span>
                    {% endif %}
                </td>
                {% if allowEdit %}
                    <td>
                        {% if groupe.nom != app.user.email and accessible %}
                            <a class="btn btn-primary" href="{{ path('groupe_edit', {'id': groupe.id}) }}"><i class="fa fa-edit"></i> Modifier</a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Visibilité</th>
                <th>Fonctionnement</th>
                {% if allowEdit %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </tfoot>
    </table>
{% endblock %}

