{% extends "admin/CRUD/edit_new.html.twig" %}

{% set is_new = (form.vars.value.id == null ) %}

{% block title %}Groupes{% endblock%}

{% block h1 %}Gestion des groupes{% endblock%}

{% block containerFluid %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="card-title">
                        {% block h3 %}
                            {% if is_new %}Ajouter un groupe{% else %}Modifier un groupe{% endif %}
                        {% endblock %}
                    </h3>
                    <p>
                        La suppression d'un membre d'un groupe va :
                    </p>
                    <ul>
                        <li>Supprimer ce membre</li>
                        <li>Rendre inaccessible les mots de passe du groupe pour ce membre</li>
                        <li>Rendre inaccessible les mots de passe qu'il a créé pour ce groupe aux autres membres du groupe (Il pourra toujours consulter/modifier les mots de passe qu'il a créé pour ce groupe)</li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}
                        {{ form_errors(form.nom) }}
                    </div>
                    
                    <div class="form-group">
                        {{ form_label(form.utilisateurGroupes) }}
                        {{ form_errors(form.utilisateurGroupes) }}
                        <ul class="tags" data-prototype="{{ form_widget(form.utilisateurGroupes.vars.prototype)|e('html_attr') }}" {% for key,value in form.utilisateurGroupes.vars.attr %} {{ key }}='{{ value }}' {% endfor %}>
                            {% for utilisateurGroupesField in form.utilisateurGroupes %}
                                <span class="subform">
                                    {{ form_errors(utilisateurGroupesField) }}
                                    {{ form_widget(utilisateurGroupesField) }}
                                </span>   
                            {% endfor %}
                        </ul>
                        
                    </div>
                    <div class="form-group">
                        {{ form_label(form.etat) }}
                        {{ form_widget(form.etat) }}
                        {{ form_errors(form.etat) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'admin/CRUD/_action_new_edit.html.twig' with {'is_new': is_new, 'list_route': 'groupe_index'} only %}
    
    {{ form_end(form) }}
    
    
    
{% endblock%}

