{% extends "admin/groupe/common_index.html.twig" %}

{% set allowEdit=true %}

{% block title %}Groupes{% endblock%}
{% block h1 %}Gestion des groupes{% endblock%}
{% block h3 %}Liste des groupes dont je suis propriétaire{% endblock %}


{% block btnAction %}
    <div class="row no-print">
        <div class="col-xs-12">            
            <a href="{{ path('groupe_new') }}" class="btn btn-success float-right"><i class="fa fa-plus"></i>
                Nouveau
            </a>
        </div>
    </div>
{% endblock %}        