{% extends "admin/groupe/common_index.html.twig" %}

{% set allowEdit=false %}

{% block title %}Groupes{% endblock%}
{% block h1 %}Gestion des groupes{% endblock%}
{% block h3 %}Liste des groupes dont je suis membre{% endblock %}
