

{% extends "admin/CRUD/edit_new.html.twig" %}

{% block title %}Mon compte{% endblock%}

{% block h1 %}Gestion de mon compte{% endblock%}

{% block containerFluid %}
    
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="card-title">
                        {% block h3 %}Modifier mes informations enregistrées{% endblock %}
                    </h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        Désolé, cette action n'a pas fonctionné<br />
                        Cette action n'est possible qu'un temps limité.<br />
                        <br />
                        Nous vous invitons à recommencer
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Actions</h3>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="{{ path('utilisateur_edit')}}">Recommencer</a>
                    <a class="btn btn-danger" href="{{ path('utilisateur_resume')}}">Annuler et retourner sur mon compte</a>
                </div>
            </div>
        </div>
    </div>

    
    
    
{% endblock%}


