

{% extends "admin/CRUD/edit_new.html.twig" %}

{% block title %}Mon compte{% endblock%}

{% block h1 %}Gestion de mon compte{% endblock%}

{% block containerFluid %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="card-title">
                        {% block h3 %}
                            Modifier mes informations enregistrées
                        {% endblock %}
                    </h3>
                </div>
                <div class="box-body">
                    {% include 'admin/_user_info.html.twig' with {'form': form} only %}
                    
                </div>
            </div>
        </div>
    </div>
   {% include 'admin/CRUD/_action_new_edit.html.twig' with {'is_new': false, 'list_route': 'utilisateur_resume', 'allow_save_only': false} only %}
    
    {{ form_end(form) }}
    
    
    
{% endblock%}
