

{% extends "admin/CRUD/edit_new.html.twig" %}

{% block title %}Mon compte{% endblock%}

{% block h1 %}Gestion de mon compte{% endblock%}

{% block containerFluid %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="card-title">
                        {% block h3 %}Modifier mon mail{% endblock %}
                    </h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                    {{ form_errors(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Actions</h3>
                </div>
                <div class="card-body">
                    <input type="submit" name="enregistrer" class="btn btn-primary" value="Continuer"/> 
                    <a class="btn btn-danger" href="{{ path('utilisateur_resume')}}">Annuler et retourner sur mon compte</a>
                </div>
            </div>
        </div>
    </div>

    
    {{ form_end(form) }}
    {% include '_recaptcha.html.twig' with {} only %}
    
    
{% endblock%}


