
{% extends "admin/CRUD/index.html.twig" %}



{% block title %}Mon compte{% endblock%}
{% block h1 %}Gestion de mon compte{% endblock%}
{% block h3 %}Mes informations enregistrées{% endblock %}

{% block table %}
    <table id="example1" class="table table-bordered table-hover dataTable">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}<td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }} 
                    <a class="btn btn-primary" href="{{ path('utilisateur_edit_email') }}">
                        <i class="fa fa-edit"></i>
                        Modifier
                    </a>
                <td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}<td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}<td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>********<td>
            </tr>
        </tbody>
       
    </table>
{% endblock %}






{% block btnAction %}
    <div class="row no-print">
        <div class="col-xs-12">            
            <a href="{{ path('utilisateur_edit') }}" class="btn btn-primary float-right"><i class="fa fa-edit"></i>
                Modifier
            </a>
        </div>
    </div>
{% endblock %}        