{% extends "mail/base.html.twig" %}

{% block entete %}
    <h1>Modification de compte</h1>
    <h2>Changement de mot de passe effectué</h2>
{% endblock %}

{% block content %}
    <br />
    <br />
    Bonjour <b>{{ prenom }} {{ nom }}</b>,<br /><br />
    Le mot de passe de votre compte vient d'être changé<br />
    Si ce n'est pas le cas demandez une réunitialisation de votre mot de passe et sécurisez votre boite mail
    <br />
    <br />
    Merci de votre intêret pour votre sécurité !
{% endblock %}