{% extends "mail/base.html.twig" %}

{% block entete %}
    <h1>Changer d'adresse mail</h1>
    <h2>Vérification de l'autorisation</h2>
{% endblock %}

{% block content %}
    <br />
    <br />
    Bonjour <b>{{ prenom }} {{ nom }}</b>,<br /><br />
    Un utilisateur s'est recemment connecté à votre compte et a demandé à pouvoir changer d'adresse mail<br />
    Si c'est vous utilisez le code suivant pour confirmer votre identité : <b>{{ code }}</b><br />
    <br />
    Ce code restera actif <b>{{ temps_actif }}</b>. <br />
    Il deviendra inactif <b>le {{ date_actif }}</b> et vous devrez recommencer la procédure de changement d'email.<br />
    <br />
    Si ce n'est pas vous, sécurisez votre compte en changeant de mot de passe directement dans la section mon compte de Password MANAGER.
    <br />
    <br />
    Merci de votre intêret pour votre sécurité !
{% endblock %}
