{% extends "mail/base.html.twig" %}

{% block entete %}
    <h1>Changer d'adresse mail</h1>
    <h2>Vérification du nouveau mail</h2>
{% endblock %}

{% block content %}
    <br />
    <br />
    Bonjour,<br /><br />
    Ce mail vient d'être associé à un compte sur Password MANAGER<br />
    <br />
    Si vous êtes le propriétaire du compte alors utilisez le code suivant pour confirmer votre nouveau mail : <b>{{ code }}</b><br />
    <br />
    Sinon vout pouvez ignorer ce mail<br />
    <br />
    Ce code restera actif <b>{{ temps_actif }}</b>. <br />
    Il deviendra inactif <b>le {{ date_actif }}</b> et vous devrez recommencer le processus de changement de mail.<br />

    <br />

    <br />
    Merci de votre intêret pour votre sécurité !
{% endblock %}
