{% extends "mail/base.html.twig" %}

{% block entete %}
    <h1>Bienvenue</h1>
    <h2>Votre compte vient d'être activé</h2>
{% endblock %}

{% block content %}
    <br />
    <br />
    Bonjour <b>{{ prenom }} {{ nom }}</b>,<br /><br />
    Votre compte vient d'être activé sur Password MANAGER<br />
    Utilisez le code suivant pour activer votre compte : <b>{{ code }}</b><br />
    <br />
    Ce code restera actif <b>{{ temps_actif }}</b>. <br />
    Il deviendra inactif <b>le {{ date_actif }}</b> et vous devrez le générer à nouveau à partir de la section me connecter du site.<br />

    <br />

    <br />
    Merci de votre intêret pour votre sécurité !
{% endblock %}