{% extends "mail/base.html.twig" %}

{% block entete %}
    <h1>Récupération de compte</h1>
    <h2>Vérification de l'autorisation</h2>
{% endblock %}

{% block content %}
    <br />
    <br />
    Bonjour,<br /><br />
    Un utilisateur a recemment demandé à pouvoir récupérer l'accès à votre compte sur PasswordManager<br />
    Si c'est vous, utilisez le code suivant pour confirmer votre identité : <b>{{ code }}</b><br />
    <br />
    Ce code restera actif <b>{{ temps_actif }}</b>. <br />
    Il deviendra inactif <b>le {{ date_actif }}</b> et vous devrez recommencer la procédure de récupération de compte.<br />
    <br />
    Si ce n'est pas vous, vous pouvez ignorer ce mail.
    <br />
    <br />
    Merci de votre intêret pour votre sécurité !
{% endblock %}

