{% extends "mail/base.html.twig" %}

{% block entete %}
    <h1>Récupération de compte</h1>
    <h2>Demande de réinitialisation de mot de passe</h2>
{% endblock %}

{% block content %}
    <p>
    <br />
    <br />
    Bonjour <b>{{ prenom }} {{ nom }}</b>,<br /><br />
    Une demande de récupération de mot de passe vient d'être effectuée.<br />
    <br />
    Si ce n'est pas le cas, vous pouvez ignorer ce mail<br />
    Sinon dans la demande de code de Password MANAGER, 
    utilisez le code suivant : <b>{{ code }}</b><br />
    <br />
    </p>
    <p>
        <b>IMPORTANT : </b>
    </p>
    <ul>
        <li>Notez que la réinitialisation de votre mot de passe desactive temporairement vos accès à tous les groupes auxquels vous appartenez.</li>
        <li>Tous les mots de passes enregistrés connus de vous uniquement seront perdus !</li>
        <li>Ce comportement est voulu par la conception de la sécurité sur Password MANAGER</li>
        <li>Les utilisateurs des groupes auxquels vous appartenez devront vous approuver à nouveau. Une fois que ce sera fait, vous retrouverez ces mots de passes</li>
    </ul>
    
    <p>
    Merci de votre intêret pour votre sécurité !
    </p>
{% endblock %}