
{% extends "admin/security/base_security.html.twig" %}

{% block namebox %}container general-security-box{% endblock %}

{% block form %}
    
    <h3>Mot de passe de {{ utilisateur.email }} modifié</h3>
    
    <div class="row"> 
        <div class="col-xs-12">
            Votre mot de passe a été modifié<br />
            <br />
            <br />
            <a class="btn btn-primary" href="{{ path('app_login')}}">Se connecter</a><br />
            <br />
        </div>
    </div>
   
    <a href="{{ path('accueilfront')}}">Accueil</a>
{% endblock %}


