
{% extends "admin/security/base_security.html.twig" %}

{% block form %}
    <p class="login-box-msg">Mot de passe oublié</p>
    
    <div class="form-group avertissement">
        Important : après la récupération, les mots de passes non partagés avec d'autres membres seront définitivement perdus !
    </div>
    
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}

    <div class="form-group has-feedback">
        {{ form_widget(form.code, { 
        'attr': {
            'placeholder': "Code"
        } 
    }) }}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    {{ form_errors(form.code) }}
    {{ form_errors(form) }}

    <div class="row"> 
        <div class="col-xs-3">

        </div>
        <div class="col-xs-9">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Récupérer mon compte</button>
        </div>

    </div>
    {{ form_end(form) }}
    <a href="{{ path('accueilfront')}}">Annuler</a><br>

    {% include '_recaptcha.html.twig' with {} only %}
{% endblock %}


