
{% extends "admin/security/base_security.html.twig" %}

{% block form %}
    <p class="login-box-msg">Mot de passe oublié</p>
    
    <div class="form-group avertissement">
        Important : après la récupération, les mots de passes non partagés avec d'autres membres seront définitivement perdus !
    </div>
    
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}

    <div class="form-group has-feedback">
        {{ form_widget(form.password.first, { 
        'attr': {
            'placeholder': "Mot de passe"
        } 
    }) }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    {{ form_errors(form.password.first) }}

    <div class="form-group has-feedback">
        {{ form_widget(form.password.second, { 
        'attr': {
            'placeholder': "Répétez le mot de passe"
        } 
    }) }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    {{ form_errors(form.password.second) }}
    {{ form_errors(form) }}
    

    <div class="row"> 
        <div class="col-xs-3">

        </div>
        <div class="col-xs-9">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Récupérer mon compte</button>
        </div>

    </div>
    {{ form_end(form) }}
    <a href="{{ path('accueilfront')}}">Annuler</a><br>

    
{% endblock %}



