{% extends "admin/CRUD/edit_new.html.twig" %}

{% set is_new = (form.vars.value.id == null ) %}

{% block title %}Mots de passe{% endblock%}

{% block h1 %}Gestion des mots de passe{% endblock%}

{% block containerFluid %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="card-title">
                        {% block h3 %}
                            {% if is_new %}Ajouter un mot de passe{% else %}Modifier un mot de passe{% endif %}
                        {% endblock %}
                    </h3>
                </div>
                <div class="box-body">

                    <div class="form-group">
                        {{ form_label(form.infoPartageeGroupes) }}
                        {{ form_errors(form.infoPartageeGroupes) }}
                        <ul class="tags" data-prototype="{{ form_widget(form.infoPartageeGroupes.vars.prototype)|e('html_attr') }}" {% for key,value in form.infoPartageeGroupes.vars.attr %} {{ key }}='{{ value }}' {% endfor %}>
                            {% for infoPartageeGroupesField in form.infoPartageeGroupes %}
                                <span class="subform">
                                    {{ form_errors(infoPartageeGroupesField) }}
                                    {{ form_widget(infoPartageeGroupesField) }}
                                </span>   
                            {% endfor %}
                        </ul>

                    </div>

                    <div class="form-group">
                        {{ form_label(form.infoPartageeClair.libelle) }}
                        <div class="input-group">
                            {{ form_widget(form.infoPartageeClair.libelle) }}
                            <span class="input-group-btn">
                                <button class="btn btn-default copy" type="button" data-copy="info_partagee_infoPartageeClair_libelle"><i class="fa fa-copy"></i></button>
                            </span>
                        </div>
                        {{ form_errors(form.infoPartageeClair.libelle) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.infoPartageeClair.login) }}
                        <div class="input-group">
                            {{ form_widget(form.infoPartageeClair.login) }}
                            <span class="input-group-btn">
                                <button class="btn btn-default copy" type="button" data-copy="info_partagee_infoPartageeClair_login"><i class="fa fa-copy"></i></button>
                            </span>
                        </div>
                        {{ form_errors(form.infoPartageeClair.login) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.infoPartageeClair.password) }}
                        {% if is_new %}
                            <div class="input-group" >
                                <span class="input-group-btn">
                                   <button class="btn btn-default" type="button" id="generate-password" data-toggle="tooltip" data-placement="bottom" title="Générer un mot de passe">
                                       <i class="fa fa-random"></i>
                                   </button>
                                </span>
                                {{ form_widget(form.infoPartageeClair.password) }}
                                <span class="input-group-btn">
                                    <button class="btn btn-default copy" type="button" data-copy="info_partagee_infoPartageeClair_password"><i class="fa fa-copy"></i></button>
                                </span>
                            </div>
                            {{ form_errors(form.infoPartageeClair.password) }}
                        {% else %}
                            <div class="input-group groupe-password" >
                                <span class="input-group-btn">
                                    <button data-toggle="tooltip" data-placement="bottom" title="Voir le mot de passe" data-voir="Voir le mot de passe" data-masquer="Masquer le mot de passe" class="btn btn-default show-hide" type="button" data-show-hide-clair="info_partagee_infoPartageeClair_password" data-show-hide-masque="password_2" data-show-hide-de='generate-password'>
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button class="btn btn-default" type="button" id="generate-password" style="display: none;" data-toggle="tooltip" data-placement="bottom" title="Générer un nouveau mot de passe">
                                        <i class="fa fa-random"></i>
                                    </button>
                                </span>
                                {{ form_widget(form.infoPartageeClair.password) }}
                                <input class="form-control" type="password" readonly id="password_2" value="********" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default copy" type="button" data-copy="info_partagee_infoPartageeClair_password"><i class="fa fa-copy"></i></button>
                                </span>
                                {{ form_errors(form.infoPartageeClair.password) }}
                            </div>
                            <div class="clearfix" ></div>
                            
                        {% endif %}
                        
                        <div class="container">
                            <div id="password-generator" class="row" style="display: none;">
                                <div class="col-md-4">
                                    <h4>
                                        Le mot de passe peut commencer par :
                                    </h4>
                                    <div class="checkbox">
                                        <label>
                                            <input id="NombreEnPremier" type="checkbox" checked /> Chiffres
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input id="MinusculeEnPremier" type="checkbox" checked /> Minuscules
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input id="MajusculeEnPremier" type="checkbox" checked /> Majuscules
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input id="AutreEnPremier" type="checkbox" /> Autres
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h4>
                                        Il peut se composer ensuite de :
                                    </h4>
                                    <div class="checkbox">
                                        <label>
                                            <input id="NombreEnsuite" type="checkbox" checked /> Chiffres
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input id="MinusculeEnsuite" type="checkbox" checked /> Minuscules
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input id="MajusculeEnsuite" type="checkbox" checked /> Majuscules
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input id="AutreEnsuite" type="checkbox" /> Autres
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label required" for="info_partagee_infoPartageeClair_login">Taille du mot de passe</label>
                                        <input type="text" id="LongMotPasse" class="form-control" value="15" size=4/>
                                    </div>
                                    <button class="btn btn-primary" id="generer" >
                                        Générer le mot de passe
                                    </button>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'admin/CRUD/_action_new_edit.html.twig' with {'is_new': is_new, 'list_route': 'info_partagee_index'} only %}

    {{ form_end(form) }}



{% endblock%}

