{% extends "admin/groupe/common_index.html.twig" %}

{% block title %}Mot de passes{% endblock%}
{% block h1 %}Gestion des mots de passe{% endblock%}
{% block h3 %}Liste des mots de passe des groupes auxquels j'appartiens{% endblock %}


{% block table %}
    <table id="example1" class="table table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>Fonctionnement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for key, info_partagee in info_partagees %}
            <tr>
                <td>{{ info_partagee.id }}</td>
                <td>
                    {% set info_partagee_clair = info_partagee_clairs[key] %}
                    {% if info_partagee_clair is not null %}
                        {{ info_partagee_clair.libelle }}
                    {% endif %}
                </td>
                <td>
                    {% set accessible = info_partagee_clair is not null %}
                    {% if not accessible %}
                        <span data-toggle="tooltip" data-placement="bottom" title="Ce mot de passe sera illisible jusqu'à ce qu'un membre d'un des groupes affecté à ce mot de passe se connecte pour rétablir votre accès. Evitez d'oublier votre mot de passe pour ne plus avoir ce problème." >
                            Inaccessible
                        </span>
                    {% elseif modification_pbs[info_partagee.id] is defined and modification_pbs[info_partagee.id] %}
                        <span data-toggle="tooltip" data-placement="bottom" title="Certains groupes de ce mot de passe sont illisibles. La modification de ce mot de passe entrainera la perte de ce mot de passe pour tous les groupes inaccessibles. Evitez d'oublier votre mot de passe pour ne plus avoir ce problème." >
                            Partiellement inaccessible
                        </span>
                    {% else  %}
                        <span data-toggle="tooltip" data-placement="bottom" title="Ce mot de passe est lisible tant que vous n'oubliez pas votre mot de passe." >
                            Fonctionnel
                        </span>
                    {% endif %}
                </td>
                <td>
                    {% if accessible %}
                        {% if info_partagee.proprietaire == app.user %}
                            <a class="btn btn-primary" href="{{ path('info_partagee_edit', {'id': info_partagee.id}) }}"><i class="fa fa-edit"></i> Modifier</a>
                        {% endif %}
                        <a class="btn btn-danger" href="{{ path('info_partagee_show', {'id': info_partagee.id}) }}"><i class="fa fa-eye"></i> Consulter</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun mot de passe enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <tr>
                    <th>Id</th>
                    <th>Libellé</th>
                    <th>Fonctionnement</th>
                    <th>actions</th>
                </tr>
            </tr>
        </tfoot>
    </table>
{% endblock %}



{% block btnAction %}
    <div class="row no-print">
        <div class="col-xs-12">            
            <a href="{{ path('info_partagee_new') }}" class="btn btn-success float-right"><i class="fa fa-plus"></i>
                Nouveau
            </a>
        </div>
    </div>
{% endblock %}        