<!DOCTYPE html>

<title>New InfoPartagee</title>

{% block body %}
    <h1>Create new InfoPartagee</h1>

    {{ include('info_partagee/_form.html.twig') }}

    <a href="{{ path('info_partagee_index') }}">back to list</a>
{% endblock %}
