{% extends "admin/CRUD/index.html.twig" %}



{% block title %}Mots de passe{% endblock%}

{% block h1 %}Gestion des mots de passe{% endblock%}

{% block table %}
    <table id="example1" class="table table-bordered table-hover passwordshow">
        <tbody>
            <tr>
                <th>Libellé</th>
                <td>
                    <div class="input-group">
                        <input class="form-control" type="text" readonly id="libelle" value="{{ info_partagee_clair.libelle }}" />
                        <span class="input-group-btn">
                            <button class="btn btn-default copy" type="button" data-copy="libelle"><i class="fa fa-copy"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Identifiant</th>
                <td>
                    <div class="input-group">
                        <input class="form-control" type="text" readonly id="login" value="{{ info_partagee_clair.login }}" />
                        <span class="input-group-btn">
                            <button class="btn btn-default copy" type="button" data-copy="login"><i class="fa fa-copy"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>
                    <div class="input-group groupe-password" >
                        <span class="input-group-btn">
                            <button data-toggle="tooltip" data-placement="bottom" title="Voir le mot de passe" class="btn btn-default show-hide" type="button" data-show-hide-clair="password" data-show-hide-masque="password_2">
                                <i class="fa fa-eye"></i>
                            </button>
                        </span>
                        <input class="form-control" type="text" readonly id="password" value="{{ info_partagee_clair.password }}" />
                        <input class="form-control" type="password" readonly id="password_2" value="********" />
                        <span class="input-group-btn">
                            <button class="btn btn-default copy" type="button" data-copy="password"><i class="fa fa-copy"></i></button>
                        </span>
                    </div>
                    
                </td>
            </tr>
        </tbody>
    </table>
{% endblock%}

{% block btnAction %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Actions</h3>
            </div>
            <div class="card-body">
                <a href="{{ path('info_partagee_index') }}" class="btn btn-success">Retour à la liste</a>
                {% if info_partagee.proprietaire == app.user %}
                <a href="{{ path('info_partagee_edit', {'id': info_partagee.id}) }}" class="btn btn-primary">Modifier</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}        